<!-- Here we create a container div, assigned the HomeController -->
<!-- More Info: https://docs.angularjs.org/api/ng/directive/ngController -->
<div id='container' ng-controller="HomeController">
  <p>This is the partial for home.</p>

  <form name="newItem" ng-submit="submitForm(item)" novalidate>
    <input type="text" name="item" ng-model="item" required />
    <button type="submit" ng-disabled="shortenLink.$invalid">Submit</button>
  </form>
  <!-- Foreach item in the data.items, we want to display the item.text -->
  <!-- More Info: https://docs.angularjs.org/api/ng/directive/ngRepeat -->
  <div ng-repeat='item in data.items'>
    <p>- {{item.text}}</p>
  </div>
</div>